body {
    background-color: #161241;
    width: 960px;
    margin: 0 auto;
    background-image: url(../img/texture.png);
    background-repeat: repeat;
}

header {
    margin-top: 0;
    height: 150px;
    width: 960px;
    background-image: url(../img/bg_header.jpg);
    background-repeat: no-repeat;
}

header h1 {
    text-indent: -9999px;
    margin: 0;
}

form {
    width: 760px;
    background: #d7d4f3;
    padding-top: 25px;
}

label {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    font-family: "PTSansNarrowBold","Lucida Grande","Verdana",serif;
    font-size: 18px;
    text-align: left;
    color: #616161;
    margin-left: 25px;
}

input {
    display: inline-block;
    width: 210px;
    height: 30px;
    font-size: 20px;
    line-height: 18px;
    color: #666;
    border: 1px solid #C3C3C3;
    background: none repeat scroll 0% 0% #FBFBFB;
    margin-left: 25px;
    margin-top: 5px;
}

.form-checkbox {
    float: left;
    width: 20%;
}

.form-checkbox input[type=checkbox] {
    width: 100px;
    height: 17px;
}

#radio label {
    display: inline;
    margin-left: 5px;
}

#radio input[type=radio] {
    width: 15px;
}

input[type=submit] {
    background-color: #161241;
    font-size: 24px;
    line-height: 24px;
    height: 100px;
    color: #DAD9D7;
    padding: 40px 379px;
    margin-left: 0;
    margin-top: 10px;
    cursor: pointer;
}

select {
    padding: 5px;
    margin: 0;
    margin-left:2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#firstselect {
    margin-left: 25px;
    margin-top: 5px;
}

