html {
background-image:url('../img/bg_image.JPG') ;
background-repeat:no-repeat;
-webkit-background-size: cover;  
-moz-background-size: cover;  
-o-background-size: cover;  
background-size: cover;  
}

body {
width:960px;
margin:0 auto;

}

h1 {
float:left;
margin-top:10px;
font-family:'Averia Sans Libre', cursive;
}

#content {
	clear:both;
}

.back_mask {
    z-index: -990;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/bg_mask.png);
}