html {
background-image:url(http://subtlepatterns.com/patterns/witewall_3.png);
background-repeat:repeat;
}

body {
width:960px;
margin:0 auto;
}

h1 {
float:left;
margin-top:10px;
font-family:'Averia Sans Libre', cursive;
}

.col3 {
width:50%;
float:left;
}

.info {
width:100%;
clear:both;
}

.image {
width:50%;
float:right;
}

h3 {
color:#4477A1;
}

h2 {
color:#27445c;
text-shadow:1px 1px #f2f6f8;
font-size:32px;
text-align:center;
}

p {
color:#101c26;
font-family:'Roboto Condensed', sans-serif;
}

#buttons {
background:#4477a1;
text-decoration:none;
width:300px;
height:50px;
font:bold 1em 'Trebuchet MS',Arial, Helvetica;
display:inline-block;
text-align:center;
margin-left:25px;
}

#buttons span {
display:block;
width:100px;
background-color:#4477a1;
float:left;
text-align:center;
margin-top:15px;
}

#buttons a {
text-decoration:none;
color:#FF9B00;
}

#buttons a:hover {
color:#008CFF;
}